<section class="static-section paddingSection">
  <div class="container">
    <div class="static-section__wrapper">
      <div class="static-section__content">
        <div class="o-content">
          <h1>História</h1>

          <p>
            Zverenci trénera Vladimíra Cifraniča sa momentálne nachádzajú na
            ôsmom mieste so ziskom štyroch bodov za jednu výhru, jednu remízu a
            dve prehry. Skóre 7:5 hovorí o druhej najlepšej ofenzíve v súťaži.
            Každopádne, bodové rozdiely sú na úvod sezóny minimálne. Všetkých
            sedem presných zásahov strelili „Železiari“ pri našom najvyššom
            víťazstve v Niké lige proti Skalici.
          </p>
          <p>
            Celkovo má Podbrezovú veľmi dobrú streleckú formu, nakoľko v
            ostatných dvoch súťažných dueloch sa naši hráči presadili až
            pätnásťkrát. Osem lôpt skončilo v sieti Chlebníc v rámci 2. kola
            Slovnaft Cupu. Momentálne už vieme, že našim ďalším súperom v
            pohárovej súťaži bude Olympia Bobrov, účastník V. ligy skupina
            Sever. Hrať sa bude 25. septembra na pôde súpera.
          </p>
          <p>
            Banská Bystrica je v posledných rokoch našim častým súperom, keďže
            sme spoločne pôsobili ešte v 2. lige a potom aj na úrovni Niké ligy.
            Od augusta 2021 sme ťahali veľmi peknú päťzápasovú šnúru výhier
            proti tomuto tímu.
          </p>
          <p>
            Potom prišli dva úspechy Dukly, ale v minulom ročníku sme ani raz
            neprehrali. Na úvod predošlého ročníka Peter Kováčik hetrikom
            režíroval hladký výsledok 4:1, následne sa v Zelpo Aréne zrodila
            remíza 2:2.
          </p>
          <p>
            Banskobystričania prešli cez leto značnou obmenou, keďže novým
            trénerom tímu sa stal Marek Bažík a zároveň sa do zahraničia
            porúčali opory ako Matúš Hruška a hlavne Róbert Polievka. Napriek
            tomu Dukla začala sezónu dobre, keďže prehrala až v piatom kole a
            momentálne sa nachádza na piatom mieste so ziskom šiestich bodov.
          </p>
          <p>
            <strong>
              „Veľmi sa tešíme. Derby je špecifické atmosférou a má vždy
              zaujímavý náboj. Chceme určite nadviazať na výkon z posledného
              domáceho zápasu a potešiť našich fanúšikov. Dôležité bude, ako
              využijeme naše silné stránky. Aktivita, súčinnosť a realizácia
              riešení v oboch fázach hry rozhodnú. Chceme nájsť správny balans,“
            </strong>
            povedal asistent trénera Štefan Markulík.
          </p>
          <h2>title h2</h2>
          <p>
            FK Železiarne Podbrezová a pivovar Urpiner vás pozývajú na
            sobotňajší večer v Zelpo aréne. Podávať sa bude najlepšie pivo
            a najlepší futbal na Horehroní. Čaká nás ostro sledované horehronské
            derby proti MFK Dukla Banská Bystrica. Okrem skvelého futbalu sme
            pre vás pripravili aj súťaž o ochutnávku piva pre päť ľudí priamo
            v pivovare Urpiner.
          </p>
          <h3>title h3</h3>
          <p>
            Všetci plnoletí návštevníci zápasu sa môžu zapojiť do súťaže
            o prehliadku pivovaru spojenú s ochutnávkou piva a ďalšie ceny od
            Urpineru. V prípade víťazného stretnutia máme pre vás pripravené
            ďalšie prekvapenie.
          </p>
          <p>Tešíme sa skvelé derby! Tešíme sa na vašu podporu!</p>
          <p>
            <strong> Horehronie fandí „železiarom“! </strong>
          </p>
          <h4>title h4</h4>
          <ol>
            <li>
              <a href="#">Základní informace</a>
            </li>
            <li>
              <a href="#">Historie klubu</a>
            </li>
            <li>Vedení</li>
            <li>
              <a href="#">Kontakty</a>
            </li>
          </ol>
          <p>Lorem ipsum dolor sit amet.</p>
          <ul>
            <li>
              <a href="#">Základní informace</a>
            </li>
            <li>
              <a href="#">Historie klubu</a>
            </li>
            <li>Vedení</li>
            <li>
              <a href="#">Kontakty</a>
            </li>
          </ul>
          <p>
            <img
              src="images/content/article.png"
              loading="lazy"
              alt="clanek-2"
            />
          </p>
          <p>
            <strong>Jaká tedy bude vaše úloha v týmu?</strong>
            <br />
            Je tu hodně ofenzivního útočníků, hodně hráčů, kteří dávají góly. O
            ně se musí někdo postarat, někoho musí mít za zády. Musí se
            <a href="#">cítit bezpečně, aby dobře plnili svoji</a> roli. Do
            oslabení se pak ode mě očekává bolavá tvrdá práce, jako je blokování
            střel. Nejsem tu od toho, abych každý zápas shazoval rukavice.
            Nechci tým oslabovat, chci být co nejvíce prospěšný.
          </p>
          <h5>title h5</h5>
          <table>
            <thead>
              <tr>
                <th>První sloupec</th>
                <th>Druhý sloupec</th>
                <th>Třetí a poslední sloupec</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Obsah prvního sloupce</td>
                <td>Další obsah sloupce</td>
                <td>
                  Obsah třetího a posledního sloupce, který je tentokrát o něco
                  delší.
                </td>
              </tr>
              <tr>
                <td>Obsah prvního sloupce</td>
                <td>Další obsah sloupce</td>
                <td>
                  Obsah třetího a posledního sloupce, který je tentokrát o něco
                  delší.
                </td>
              </tr>
              <tr>
                <td>Obsah prvního sloupce</td>
                <td>Další obsah sloupce</td>
                <td>
                  Obsah třetího a posledního sloupce, který je tentokrát o něco
                  delší.
                </td>
              </tr>
            </tbody>
          </table>
          <p>
            <strong
              >Jak se tedy David Štich za čtyři roky od odchodu z Bruslařského
              klubu změnil?</strong
            >
            <br />
            Chtěl bych říct, že je rozumnější, ale po posledním výstupu v Mladé
            Boleslavi to asi tak nevypadá. (smích) Nevěděl jsem, že tisková
            mluvčí Boleslavi stojí mezi střídačkami, prostě jsem ji v tom
            zatmění neviděl. Naštěstí tu ránu hokejkou ode mě neschytala, i když
            to bylo těsné. Nebyl to ani úmysl. Kdo mě zná mimo led, tak ví, že
            bych nic takového neudělal. Blbosti už nedělám každý zápas. Sem tam
            blikanec je, to k hokeji patří. Myslím si, že si v kabině umím
            vybudovat respekt a pronést nějaká slova. Hlavně se snažím
            nastupující generaci pomáhat a předávat zkušenosti.
          </p>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/Qb7jeTrKlwg?si=0ZXozSpo5huQmEWn"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <h6>title h6</h6>
          <p>
            <strong
              >Do Mladé Boleslavi přišel i Tomáš Šmerha, který poznal vaši hru v
              semifinále play off. Už jste si to vyříkali?</strong
            >
            <br />
            Co se stane na ledě, zůstane na ledě, stejně tak v kabině. Po zápase
            se zajde na pivo a je urovnáno. Na pivu bychom se bavili jako dva
            normální lidi. Když jsme to spolu řešili, tak jsme se zasmáli,
            prohodili nějaký žertík a tím to končí. Myslím si, že já ani Šmerhič
            v sobě nic neneseme. Jak na vás zatím působí tým Bruslařů?Kádr se
            tvoří velmi dobrý. Je to mladší, kvalitní a bruslivý tým, který má
            do sezóny velký potenciál. Věřím, že si sedneme v kabině i na ledě,
            budeme skvělá parta a přeneseme to do zápasů.
          </p>

          <p>
            <strong>Jak podle vás tenhle tým může dojít daleko?</strong>
            <br />
            Nechci to před sezonou komentovat. Půjde se zápas od zápasu. V
            každém utkání budeme chtít sbírat body a od toho se bude sezóna
            vyvíjet.
          </p>
        </div>
        {% include "@components/photoGallery/photoGallery.twig" %}
      </div>
    </div>
  </div>
</section>
