<section class="player-section paddingSection">
  <div class="container">
    <div class="static-section__wrapper">
      <div class="playerDetail">
        <div class="playerDetail__img">
          <img src="images/content/player.png" loading="lazy" alt="player" />
        </div>
        <div class="playerDetail__info">
          <div class="playerDetail__number">27</div>
          <h1 class="playerDetail__title">
            Ridwan
            <span>Sanusi</span>
          </h1>
          <ul class="playerDetail__list">
            <li>
              <span> Pozícia </span>
              Stredopoliar
            </li>
            <li>
              <span> Dátum narodenia (vek) </span>
              21. 9. 2022 (22 rokov)
            </li>
            <li>
              <span> Krajina </span>
              Nigéria
            </li>
            <li>
              <span> Výška / hmotnosť </span>
              178 cm / 74 kg
            </li>
          </ul>
        </div>
      </div>
      <div class="static-section__content">
        <div class="o-content">
          <p>
            Zverenci trénera Vladimíra Cifraniča sa momentálne nachádzajú na
            ôsmom mieste so ziskom štyroch bodov za jednu výhru, jednu remízu a
            dve prehry. Skóre 7:5 hovorí o druhej najlepšej ofenzíve v súťaži.
            Každopádne, bodové rozdiely sú na úvod sezóny minimálne. Všetkých
            sedem presných zásahov strelili „Železiari“ pri našom najvyššom
            víťazstve v Niké lige proti Skalici.
          </p>
          <p>
            Celkovo má Podbrezovú veľmi dobrú streleckú formu, nakoľko v
            ostatných dvoch súťažných dueloch sa naši hráči presadili až
            pätnásťkrát. Osem lôpt skončilo v sieti Chlebníc v rámci 2. kola
            Slovnaft Cupu. Momentálne už vieme, že našim ďalším súperom v
            pohárovej súťaži bude Olympia Bobrov, účastník V. ligy skupina
            Sever. Hrať sa bude 25. septembra na pôde súpera.
          </p>
          <p>
            Banská Bystrica je v posledných rokoch našim častým súperom, keďže
            sme spoločne pôsobili ešte v 2. lige a potom aj na úrovni Niké ligy.
            Od augusta 2021 sme ťahali veľmi peknú päťzápasovú šnúru výhier
            proti tomuto tímu.
          </p>
          <p>
            Potom prišli dva úspechy Dukly, ale v minulom ročníku sme ani raz
            neprehrali. Na úvod predošlého ročníka Peter Kováčik hetrikom
            režíroval hladký výsledok 4:1, následne sa v Zelpo Aréne zrodila
            remíza 2:2.
          </p>
          <p>
            Banskobystričania prešli cez leto značnou obmenou, keďže novým
            trénerom tímu sa stal Marek Bažík a zároveň sa do zahraničia
            porúčali opory ako Matúš Hruška a hlavne Róbert Polievka. Napriek
            tomu Dukla začala sezónu dobre, keďže prehrala až v piatom kole a
            momentálne sa nachádza na piatom mieste so ziskom šiestich bodov.
          </p>
          <p>
            <strong>
              „Veľmi sa tešíme. Derby je špecifické atmosférou a má vždy
              zaujímavý náboj. Chceme určite nadviazať na výkon z posledného
              domáceho zápasu a potešiť našich fanúšikov. Dôležité bude, ako
              využijeme naše silné stránky. Aktivita, súčinnosť a realizácia
              riešení v oboch fázach hry rozhodnú. Chceme nájsť správny balans,“
            </strong>
            povedal asistent trénera Štefan Markulík.
          </p>
        </div>
        {% include "@components/photoGallery/photoGallery.twig" %}
      </div>
    </div>
  </div>
</section>
