<section class="article-section paddingSection">
  <div class="container">
    <div class="article-section__wrapper">
      <div class="article-section__img">
        <img src="images/content/article.png" loading="lazy" alt="clanek" />
      </div>
      <div class="article-section__content">
        <ul class="tags mb-lg-3 mb-1">
          <li>3. 8. 2024</li>
          <li>
            <strong>A-tím</strong>
          </li>
        </ul>

        <div class="o-content">
          <h1>Derby sa blíži, v sobotu večer privítame Banskú Bystricu</h1>
          <div class="perex">
            Už v sobotu o 20:30 odohrajú naši futbalisti prvé derby tejto
            sezóny. V Zelpo Aréne privítajú banskobystrickú Duklu.
          </div>
          <p>
            Zverenci trénera Vladimíra Cifraniča sa momentálne nachádzajú na
            ôsmom mieste so ziskom štyroch bodov za jednu výhru, jednu remízu a
            dve prehry. Skóre 7:5 hovorí o druhej najlepšej ofenzíve v súťaži.
            Každopádne, bodové rozdiely sú na úvod sezóny minimálne. Všetkých
            sedem presných zásahov strelili „Železiari“ pri našom najvyššom
            víťazstve v Niké lige proti Skalici.
          </p>
          <p>
            Celkovo má Podbrezovú veľmi dobrú streleckú formu, nakoľko v
            ostatných dvoch súťažných dueloch sa naši hráči presadili až
            pätnásťkrát. Osem lôpt skončilo v sieti Chlebníc v rámci 2. kola
            Slovnaft Cupu. Momentálne už vieme, že našim ďalším súperom v
            pohárovej súťaži bude Olympia Bobrov, účastník V. ligy skupina
            Sever. Hrať sa bude 25. septembra na pôde súpera.
          </p>
          <p>
            Banská Bystrica je v posledných rokoch našim častým súperom, keďže
            sme spoločne pôsobili ešte v 2. lige a potom aj na úrovni Niké ligy.
            Od augusta 2021 sme ťahali veľmi peknú päťzápasovú šnúru výhier
            proti tomuto tímu.
          </p>
          <p>
            Potom prišli dva úspechy Dukly, ale v minulom ročníku sme ani raz
            neprehrali. Na úvod predošlého ročníka Peter Kováčik hetrikom
            režíroval hladký výsledok 4:1, následne sa v Zelpo Aréne zrodila
            remíza 2:2.
          </p>
          <p>
            Banskobystričania prešli cez leto značnou obmenou, keďže novým
            trénerom tímu sa stal Marek Bažík a zároveň sa do zahraničia
            porúčali opory ako Matúš Hruška a hlavne Róbert Polievka. Napriek
            tomu Dukla začala sezónu dobre, keďže prehrala až v piatom kole a
            momentálne sa nachádza na piatom mieste so ziskom šiestich bodov.
          </p>
          <p>
            <strong>
              „Veľmi sa tešíme. Derby je špecifické atmosférou a má vždy
              zaujímavý náboj. Chceme určite nadviazať na výkon z posledného
              domáceho zápasu a potešiť našich fanúšikov. Dôležité bude, ako
              využijeme naše silné stránky. Aktivita, súčinnosť a realizácia
              riešení v oboch fázach hry rozhodnú. Chceme nájsť správny balans,“
            </strong>
            povedal asistent trénera Štefan Markulík.
          </p>

          <h3>Najlepšie pivo a najlepší futbal na Horehroní</h3>
          <p>
            FK Železiarne Podbrezová a pivovar Urpiner vás pozývajú na
            sobotňajší večer v Zelpo aréne. Podávať sa bude najlepšie pivo
            a najlepší futbal na Horehroní. Čaká nás ostro sledované horehronské
            derby proti MFK Dukla Banská Bystrica. Okrem skvelého futbalu sme
            pre vás pripravili aj súťaž o ochutnávku piva pre päť ľudí priamo
            v pivovare Urpiner.
          </p>
          <p>
            Všetci plnoletí návštevníci zápasu sa môžu zapojiť do súťaže
            o prehliadku pivovaru spojenú s ochutnávkou piva a ďalšie ceny od
            Urpineru. V prípade víťazného stretnutia máme pre vás pripravené
            ďalšie prekvapenie.
          </p>
          <p>Tešíme sa skvelé derby! Tešíme sa na vašu podporu!</p>
          <p>
            <strong> Horehronie fandí „železiarom“! </strong>
          </p>
        </div>
        {% include "@components/photoGallery/photoGallery.twig" %}
      </div>
    </div>
  </div>
</section>
