<section class="academy-section">
  <div class="container">
    <div class="academy-section__head">
      <h3 class="academy-section__title h1">
        Akadémia FKŽP
        <span> najlepšie miesto pre rast mladého hráča </span>
      </h3>
      <ul class="academy-section__links">
        <li>
          <a href="#" class="btn btn-primary"> Novinky </a>
        </li>
        <li>
          <a href="#" class="btn btn-primary"> Tímy </a>
        </li>
        <li>
          <a href="#" class="btn btn-primary"> Vízia </a>
        </li>
        <li>
          <a href="#" class="btn btn-primary"> Kódex </a>
        </li>
        <li>
          <a href="#" class="btn btn-primary"> Kontakty </a>
        </li>
      </ul>
    </div>
    <div class="row g-4">
      <div class="col-xl-8">
        <a href="#" class="academy-section__post">
          <div class="academy-section__post-img">
            <img src="images/content/article.png" loading="lazy" alt="post" />
          </div>
          <ul class="tags">
            <li>3. 8. 2024</li>
            <li>
              <strong>A-tím</strong>
            </li>
          </ul>
          <h4 class="h2">
            V druhom kole cestujeme na pôdu rozbehnutého Slovanu
          </h4>
        </a>
      </div>
      <div class="col-xl-4">
        <div class="row g-5">
          <div class="col-xl-12 col-md-6">
            {% include "@components/post/post.twig" %}
          </div>
          <div class="col-xl-12 col-md-6">
            <a class="pub" href="#" target="_blank">
              <img
                src="https://placehold.co/464x399"
                loading="lazy"
                alt="pub"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pubHomepage">
    <div class="container">
      <div class="row g-4">
        <div class="col-xl-3 col-sm-6">
          <a class="pub" href="#" target="_blank">
            <img src="https://placehold.co/342x342" loading="lazy" alt="pub" />
          </a>
        </div>
        <div class="col-xl-3 col-sm-6">
          <a class="pub" href="#" target="_blank">
            <img src="https://placehold.co/342x342" loading="lazy" alt="pub" />
          </a>
        </div>
        <div class="col-xl-3 col-sm-6">
          <a class="pub" href="#" target="_blank">
            <img src="https://placehold.co/342x342" loading="lazy" alt="pub" />
          </a>
        </div>
        <div class="col-xl-3 col-sm-6">
          <a class="pub" href="#" target="_blank">
            <img src="https://placehold.co/342x342" loading="lazy" alt="pub" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
