<section class="team-section paddingSection">
  <div class="container">
    <div class="static-section__wrapper">
      <div class="static-section__content">
        <div class="headerSection">
          <h1 class="h1">Soupiska</h1>
          <div class="headerSection__search">
            <ul class="headerSection__links">
              <li>
                <a href="#brankari"> Brankáři </a>
              </li>
              <li>
                <a href="#obranci"> Obránci </a>
              </li>
              <li>
                <a href="#zaloznici"> Záložníci </a>
              </li>
              <li>
                <a href="#utocnici"> Útočníci </a>
              </li>
              <li>
                <a href="#realtym"> Realizační tým </a>
              </li>
            </ul>
            <label class="o-select">
              <select class="js-select">
                <option>2024/25</option>
                <option>2024/25</option>
                <option>2024/25</option>
                <option>2024/25</option>
                <option>2024/25</option>
              </select>
            </label>
          </div>
        </div>

        <h2 id="brankari" class="h5 mb-2">Brankáři</h2>
        <div class="row g-4 mb-4">
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="team-section__item">
              <div class="team-section__img">
                <img src="images/content/hrac.png" loading="lazy" alt="hrac" />
              </div>
              <div class="team-section__info">
                <div class="team-section__number">29</div>
                <h3 class="h6">David Alberto Depetris</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="team-section__item">
              <div class="team-section__img">
                <img src="images/content/hrac.png" loading="lazy" alt="hrac" />
              </div>
              <div class="team-section__info">
                <div class="team-section__number">13</div>
                <h3 class="h6">Roland Galčík</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="team-section__item">
              <div class="team-section__img">
                <img src="images/content/hrac.png" loading="lazy" alt="hrac" />
              </div>
              <div class="team-section__info">
                <div class="team-section__number">27</div>
                <h3 class="h6">Ridwan Sanusi</h3>
              </div>
            </a>
          </div>
        </div>
        <h2 id="obranci" class="h5 mb-2">Obránci</h2>
        <div class="row g-4 mb-4">
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="team-section__item">
              <div class="team-section__img">
                <img src="images/content/hrac.png" loading="lazy" alt="hrac" />
              </div>
              <div class="team-section__info">
                <div class="team-section__number">29</div>
                <h3 class="h6">David Alberto Depetris</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="team-section__item">
              <div class="team-section__img">
                <img src="images/content/hrac.png" loading="lazy" alt="hrac" />
              </div>
              <div class="team-section__info">
                <div class="team-section__number">13</div>
                <h3 class="h6">Roland Galčík</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="team-section__item">
              <div class="team-section__img">
                <img src="images/content/hrac.png" loading="lazy" alt="hrac" />
              </div>
              <div class="team-section__info">
                <div class="team-section__number">27</div>
                <h3 class="h6">Ridwan Sanusi</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="team-section__item">
              <div class="team-section__img">
                <img src="images/content/hrac.png" loading="lazy" alt="hrac" />
              </div>
              <div class="team-section__info">
                <div class="team-section__number">29</div>
                <h3 class="h6">David Alberto Depetris</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="team-section__item">
              <div class="team-section__img">
                <img src="images/content/hrac.png" loading="lazy" alt="hrac" />
              </div>
              <div class="team-section__info">
                <div class="team-section__number">13</div>
                <h3 class="h6">Roland Galčík</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="team-section__item">
              <div class="team-section__img">
                <img src="images/content/hrac.png" loading="lazy" alt="hrac" />
              </div>
              <div class="team-section__info">
                <div class="team-section__number">27</div>
                <h3 class="h6">Ridwan Sanusi</h3>
              </div>
            </a>
          </div>
        </div>
        <h2 id="zaloznici" class="h5 mb-2">Záložníci</h2>
        <div class="row g-4 mb-4">
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="team-section__item">
              <div class="team-section__img">
                <img src="images/content/hrac.png" loading="lazy" alt="hrac" />
              </div>
              <div class="team-section__info">
                <div class="team-section__number">29</div>
                <h3 class="h6">David Alberto Depetris</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="team-section__item">
              <div class="team-section__img">
                <img src="images/content/hrac.png" loading="lazy" alt="hrac" />
              </div>
              <div class="team-section__info">
                <div class="team-section__number">13</div>
                <h3 class="h6">Roland Galčík</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="team-section__item">
              <div class="team-section__img">
                <img src="images/content/hrac.png" loading="lazy" alt="hrac" />
              </div>
              <div class="team-section__info">
                <div class="team-section__number">27</div>
                <h3 class="h6">Ridwan Sanusi</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="team-section__item">
              <div class="team-section__img">
                <img src="images/content/hrac.png" loading="lazy" alt="hrac" />
              </div>
              <div class="team-section__info">
                <div class="team-section__number">29</div>
                <h3 class="h6">David Alberto Depetris</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="team-section__item">
              <div class="team-section__img">
                <img src="images/content/hrac.png" loading="lazy" alt="hrac" />
              </div>
              <div class="team-section__info">
                <div class="team-section__number">29</div>
                <h3 class="h6">David Alberto Depetris</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="team-section__item">
              <div class="team-section__img">
                <img src="images/content/hrac.png" loading="lazy" alt="hrac" />
              </div>
              <div class="team-section__info">
                <div class="team-section__number">13</div>
                <h3 class="h6">Roland Galčík</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="team-section__item">
              <div class="team-section__img">
                <img src="images/content/hrac.png" loading="lazy" alt="hrac" />
              </div>
              <div class="team-section__info">
                <div class="team-section__number">27</div>
                <h3 class="h6">Ridwan Sanusi</h3>
              </div>
            </a>
          </div>
        </div>
        <h2 id="utocnici" class="h5 mb-2">Útočníci</h2>
        <div class="row g-4 mb-4">
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="team-section__item">
              <div class="team-section__img">
                <img src="images/content/hrac.png" loading="lazy" alt="hrac" />
              </div>
              <div class="team-section__info">
                <div class="team-section__number">29</div>
                <h3 class="h6">David Alberto Depetris</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="team-section__item">
              <div class="team-section__img">
                <img src="images/content/hrac.png" loading="lazy" alt="hrac" />
              </div>
              <div class="team-section__info">
                <div class="team-section__number">13</div>
                <h3 class="h6">Roland Galčík</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="team-section__item">
              <div class="team-section__img">
                <img src="images/content/hrac.png" loading="lazy" alt="hrac" />
              </div>
              <div class="team-section__info">
                <div class="team-section__number">27</div>
                <h3 class="h6">Ridwan Sanusi</h3>
              </div>
            </a>
          </div>
        </div>
        <h2 id="realtym" class="h5 mb-2">Realizační tým</h2>
        <div class="row g-4">
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="team-section__item">
              <div class="team-section__img">
                <img src="images/content/hrac.png" loading="lazy" alt="hrac" />
              </div>
              <div class="team-section__info">
                <div class="team-section__number">29</div>
                <h3 class="h6">David Alberto Depetris</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="team-section__item">
              <div class="team-section__img">
                <img src="images/content/hrac.png" loading="lazy" alt="hrac" />
              </div>
              <div class="team-section__info">
                <div class="team-section__number">13</div>
                <h3 class="h6">Roland Galčík</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="team-section__item">
              <div class="team-section__img">
                <img src="images/content/hrac.png" loading="lazy" alt="hrac" />
              </div>
              <div class="team-section__info">
                <div class="team-section__number">27</div>
                <h3 class="h6">Ridwan Sanusi</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="team-section__item">
              <div class="team-section__img">
                <img src="images/content/hrac.png" loading="lazy" alt="hrac" />
              </div>
              <div class="team-section__info">
                <div class="team-section__number">27</div>
                <h3 class="h6">Ridwan Sanusi</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
