<section class="television-section">
  <div class="container">
    <div class="television-section__title">
      <img src="images/content/tv-logo.png " loading="lazy" alt="tv" />
    </div>
    <div class="television-section__inner row g-4">
      <div class="col-lg-4">
        <a href="#" class="televisionItem">
          <div class="televisionItem__img">
            <img src="images/content/article.png" loading="lazy" alt="video" />
            <span> {% include "@images/play.svg" %} </span>
          </div>
          <h6 class="h4 text-white">
            V druhom kole cestujeme na pôdu rozbehnutého Slovanu
          </h6>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#" class="televisionItem">
          <div class="televisionItem__img">
            <img src="images/content/article.png" loading="lazy" alt="video" />
            <span> {% include "@images/play.svg" %} </span>
          </div>
          <h6 class="h4 text-white">
            V druhom kole cestujeme na pôdu rozbehnutého Slovanu
          </h6>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#" class="televisionItem">
          <div class="televisionItem__img">
            <img src="images/content/article.png" loading="lazy" alt="video" />
            <span> {% include "@images/play.svg" %} </span>
          </div>
          <h6 class="h4 text-white">
            V druhom kole cestujeme na pôdu rozbehnutého Slovanu V druhom kole
            cestujeme na pôdu rozbehnutého Slovanu
          </h6>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#" class="televisionItem">
          <div class="televisionItem__img">
            <img src="images/content/article.png" loading="lazy" alt="video" />
            <span> {% include "@images/play.svg" %} </span>
          </div>
          <h6 class="h4 text-white">
            V druhom kole cestujeme na pôdu rozbehnutého Slovanu
          </h6>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#" class="televisionItem">
          <div class="televisionItem__img">
            <img src="images/content/article.png" loading="lazy" alt="video" />
            <span> {% include "@images/play.svg" %} </span>
          </div>
          <h6 class="h4 text-white">
            V druhom kole cestujeme na pôdu rozbehnutého Slovanu
          </h6>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#" class="televisionItem">
          <div class="televisionItem__img">
            <img src="images/content/article.png" loading="lazy" alt="video" />
            <span> {% include "@images/play.svg" %} </span>
          </div>
          <h6 class="h4 text-white">
            V druhom kole cestujeme na pôdu rozbehnutého Slovanu
          </h6>
        </a>
      </div>
    </div>
  </div>
</section>
