.match-detail {
  &__img {
    width: 100%;
    aspect-ratio: 1440/901;
    margin-bottom: -232px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 24px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__wrapper {
    padding-top: 56px;
    padding-left: 40px;
    padding-right: 40px;
    @include media-breakpoint-down(lg) {
      padding-left: 0;
      padding-top: 0;
      padding-right: 0;
    }
  }
  &__head {
    background-color: var(--color-primary-100);
    padding: 56px 40px 40px;
    max-width: 1280px;
    margin: 0 auto 40px;
    position: relative;
    z-index: 2;
    @include media-breakpoint-down(lg) {
      padding-top: 32px;
      margin-bottom: 24px;
    }
  }
}

.match-detail__info {
  max-width: 956px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: var(--color-light);
  @include media-breakpoint-down(lg) {
    flex-direction: column;
    gap: 16px;
  }
  &-teams .h4 {
    color: var(--color-light) !important;
    @include media-breakpoint-down(lg) {
      text-align: center;
    }
  }
  &-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 956px;
    padding: 0 40px;
    margin: 32px auto 0;
    gap: 16px;
    @include media-breakpoint-down(lg) {
      padding: 0;
    }
    .btn-white:hover {
      background: var(--color-secondary-100) !important;
    }
  }
  &-date {
    font-size: 18px;
    font-weight: 100;
    line-height: 28px;
    @include media-breakpoint-down(lg) {
      text-align: center;
    }

    span {
      display: block;
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
    }
  }
  &-result {
    font-size: 64px;
    font-weight: 900;
    margin-left: auto;
    line-height: normal;
    @include media-breakpoint-down(lg) {
      margin: 0 auto;
    }
  }
  &-logos {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 40px;
    margin-right: 32px;
    @include media-breakpoint-down(lg) {
      margin: 0 auto;
      justify-content: center;
    }
    img {
      width: 72px;
      height: 72px;
      object-fit: contain;
    }
  }
}

.match-detail__statistics {
  background-color: var(--color-bg-secondary);
  padding: 24px 40px;
  height: 100%;
  @include media-breakpoint-down(md) {
    padding: 24px;
  }
  &-row {
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 24px;
    margin-bottom: 24px;
    flex-wrap: wrap;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    .match-detail__statistics-item {
      max-width: 33.333%;
      flex: 0 0 33.333%;
      padding: 0 20px;
      @include media-breakpoint-down(md) {
        max-width: 100%;
        flex: 100%;
      }
    }
    .match-detail__statistics-item + .match-detail__statistics-item {
      @include media-breakpoint-down(md) {
        border-top: 1px solid var(--color-border);
        padding-top: 20px;
        margin-top: 20px;
      }
    }
  }

  p {
    font-size: 16px;
    font-weight: 100;
    line-height: 24px;
    display: flex;
    align-items: center;
    gap: 16px;
    strong {
      font-size: 16px;
      font-weight: 900 !important;
      line-height: 22px;
    }
  }
}

.match-detail__statistics-item {
  span {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
  }
}
