<div class="photoGallery">
  <div class="row g-3">
    <div class="col-xl-4 col-sm-6">
      <a
        data-source="/fkzeleziarne.sk/build/ajax-gallery.json"
        data-gallery-id="3"
        href="#"
        class="photoGallery__item"
      >
        <img src="images/content/article.png" loading="lazy" alt="" />
      </a>
    </div>
    <div class="col-xl-4 col-sm-6">
      <a
        data-source="/fkzeleziarne.sk/build/ajax-gallery.json"
        data-gallery-id="3"
        href="#"
        class="photoGallery__item"
      >
        <img src="images/content/article.png" loading="lazy" alt="" />
      </a>
    </div>
    <div class="col-xl-4 col-sm-6">
      <a
        data-source="/fkzeleziarne.sk/build/ajax-gallery.json"
        data-gallery-id="3"
        href="#"
        class="photoGallery__item"
      >
        <img src="images/content/article.png" loading="lazy" alt="" />
      </a>
    </div>
    <div class="col-xl-4 col-sm-6">
      <a
        data-source="/fkzeleziarne.sk/build/ajax-gallery.json"
        data-gallery-id="3"
        href="#"
        class="photoGallery__item"
      >
        <img src="images/content/article.png" loading="lazy" alt="" />
      </a>
    </div>
    <div class="col-xl-4 col-sm-6">
      <a
        data-source="/fkzeleziarne.sk/build/ajax-gallery.json"
        data-gallery-id="3"
        href="#"
        class="photoGallery__item"
      >
        <img src="images/content/article.png" loading="lazy" alt="" />
      </a>
    </div>
    <div class="col-xl-4 col-sm-6">
      <a
        data-source="/fkzeleziarne.sk/build/ajax-gallery.json"
        data-gallery-id="3"
        href="#"
        class="photoGallery__item"
      >
        <img src="images/content/article.png" loading="lazy" alt="" />
        <span>+12</span>
      </a>
    </div>
  </div>
</div>
