<section class="partners">
  <div class="container">
    <h6 class="h2 mb-4">Generálny partner</h6>
    <div class="row g-5 justify-content-center align-items-center partnersMain">
      <div class="col-lg-3 col-sm-6">
        <a target="_blank" href="#" class="partner">
          <img
            src="images/content/partners/partner-1.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
    </div>
    <h6 class="h2 mb-5">Hlavný partner</h6>
    <div class="row g-4 justify-content-center align-items-center">
      <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
        <a target="_blank" href="#" class="partner">
          <img
            src="images/content/partners/2.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
        <a target="_blank" href="#" class="partner">
          <img
            src="images/content/partners/10.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
        <a target="_blank" href="#" class="partner">
          <img
            src="images/content/partners/11.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
        <a target="_blank" href="#" class="partner">
          <img
            src="images/content/partners/14.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
        <a target="_blank" href="#" class="partner">
          <img
            src="images/content/partners/16.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
        <a target="_blank" href="#" class="partner">
          <img
            src="images/content/partners/p-2.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
        <a target="_blank" href="#" class="partner">
          <img
            src="images/content/partners/p-4.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
        <a target="_blank" href="#" class="partner">
          <img
            src="images/content/partners/p-5.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
    </div>
  </div>
</section>
