<section class="matches-section paddingSection">
  <div class="container">
    <div class="static-section__wrapper">
      <div class="static-section__content">
        <div class="headerSection">
          <h1 class="h1">Zapasy</h1>
          <div class="headerSection__search">
            <label class="o-select">
              <select class="js-select">
                <option>2024/25</option>
                <option>2024/25</option>
                <option>2024/25</option>
                <option>2024/25</option>
                <option>2024/25</option>
              </select>
            </label>
            <label class="o-select">
              <select class="js-select">
                <option>Všechny soutěže</option>
                <option value="">Liga ..</option>
                <option value="">Liga ..</option>
                <option value="">Liga ..</option>
                <option value="">Liga ..</option>
                <option value="">Liga ..</option>
              </select>
            </label>
          </div>
        </div>
        <h2 class="matches-section__title">
          <img src="images/ico/nike-liga.svg" alt="nike" />
          Niké liga
        </h2>
        <div class="matches-section__inner">
          <div class="matchItem">
            <div class="matchItem__inner">
              <div class="matchItem__date">
                <span> so 21. 10. 2024 </span>
                18:00 hod.
              </div>
              <div class="matchItem__logos">
                <img
                  src="images/content/zilina.png"
                  loading="lazy"
                  alt="zilina"
                />
                <img src="images/ico/logo.svg" loading="lazy" alt="zilina" />
              </div>
              <div class="matchItem__titles">
                <h3 class="h5 text-dark">MŠK Žilina</h3>
                <h3 class="h5 text-primary">FK Železiarne Podbrezová</h3>
              </div>
            </div>
            <div class="matchItem__link">
              <a href="#" class="matchItem__link-result win">1:3</a>
            </div>
          </div>
          <div class="matchItem">
            <div class="matchItem__inner">
              <div class="matchItem__date">
                <span> so 21. 10. 2024 </span>
                18:00 hod.
              </div>
              <div class="matchItem__logos">
                <img src="images/ico/logo.svg" loading="lazy" alt="zilina" />

                <img
                  src="images/content/bratislava.png"
                  loading="lazy"
                  alt="zilina"
                />
              </div>
              <div class="matchItem__titles">
                <h3 class="h5 text-primary">FK Železiarne Podbrezová</h3>
                <h3 class="h5 text-dark">ŠK Slovan Bratislava</h3>
              </div>
            </div>
            <div class="matchItem__link">
              <a href="#" class="matchItem__link-result">2:2</a>
            </div>
          </div>
          <div class="matchItem">
            <div class="matchItem__inner">
              <div class="matchItem__date">
                <span> so 21. 10. 2024 </span>
                18:00 hod.
              </div>
              <div class="matchItem__logos">
                <img src="images/ico/logo.svg" loading="lazy" alt="zilina" />

                <img
                  src="images/content/zilina.png"
                  loading="lazy"
                  alt="zilina"
                />
              </div>
              <div class="matchItem__titles">
                <h3 class="h5 text-primary">FK Železiarne Podbrezová</h3>
                <h3 class="h5 text-dark">MŠK Žilina</h3>
              </div>
            </div>
            <div class="matchItem__link">
              <a href="#" class="matchItem__link-result lose">0:1</a>
            </div>
          </div>
          <div class="matchItem">
            <div class="matchItem__inner">
              <div class="matchItem__date">
                <span> so 21. 10. 2024 </span>
                18:00 hod.
              </div>
              <div class="matchItem__logos">
                <img
                  src="images/content/bratislava.png"
                  loading="lazy"
                  alt="zilina"
                />
                <img src="images/ico/logo.svg" loading="lazy" alt="zilina" />
              </div>
              <div class="matchItem__titles">
                <h3 class="h5 text-dark">ŠK Slovan Bratislava</h3>

                <h3 class="h5 text-primary">FK Železiarne Podbrezová</h3>
              </div>
            </div>
            <div class="matchItem__link">
              <a href="#" class="btn btn-primary">Vstupenky</a>
            </div>
          </div>
        </div>

        <h2 class="matches-section__title">
          <img src="images/ico/slovnaft.svg" alt="slovnaft" />
          Slovnaft Cup
        </h2>
        <div class="matches-section__inner">
          <div class="matchItem">
            <div class="matchItem__inner">
              <div class="matchItem__date">
                <span> so 21. 10. 2024 </span>
                18:00 hod.
              </div>
              <div class="matchItem__logos">
                <img
                  src="images/content/bratislava.png"
                  loading="lazy"
                  alt="zilina"
                />
                <img src="images/ico/logo.svg" loading="lazy" alt="zilina" />
              </div>
              <div class="matchItem__titles">
                <h3 class="h5 text-dark">ŠK Slovan Bratislava</h3>

                <h3 class="h5 text-primary">FK Železiarne Podbrezová</h3>
              </div>
            </div>
            <div class="matchItem__link">
              <a href="#" class="btn btn-primary">Vstupenky</a>
            </div>
          </div>
        </div>

        <h2 class="matches-section__title">
          <img src="images/ico/nike-liga.svg" alt="nike" />
          Niké liga
        </h2>
        <div class="matches-section__inner">
          <div class="matchItem">
            <div class="matchItem__inner">
              <div class="matchItem__date">
                <span> so 21. 10. 2024 </span>
                18:00 hod.
              </div>
              <div class="matchItem__logos">
                <img
                  src="images/content/zilina.png"
                  loading="lazy"
                  alt="zilina"
                />
                <img src="images/ico/logo.svg" loading="lazy" alt="zilina" />
              </div>
              <div class="matchItem__titles">
                <h3 class="h5 text-dark">MŠK Žilina</h3>
                <h3 class="h5 text-primary">FK Železiarne Podbrezová</h3>
              </div>
            </div>
            <div class="matchItem__link">
              <a href="#" class="btn btn-primary">Vstupenky</a>
            </div>
          </div>
          <div class="matchItem">
            <div class="matchItem__inner">
              <div class="matchItem__date">
                <span> so 21. 10. 2024 </span>
                18:00 hod.
              </div>
              <div class="matchItem__logos">
                <img src="images/ico/logo.svg" loading="lazy" alt="zilina" />

                <img
                  src="images/content/bratislava.png"
                  loading="lazy"
                  alt="zilina"
                />
              </div>
              <div class="matchItem__titles">
                <h3 class="h5 text-primary">FK Železiarne Podbrezová</h3>
                <h3 class="h5 text-dark">ŠK Slovan Bratislava</h3>
              </div>
            </div>
          </div>
          <div class="matchItem">
            <div class="matchItem__inner">
              <div class="matchItem__date">
                <span> so 21. 10. 2024 </span>
                18:00 hod.
              </div>
              <div class="matchItem__logos">
                <img src="images/ico/logo.svg" loading="lazy" alt="zilina" />

                <img
                  src="images/content/zilina.png"
                  loading="lazy"
                  alt="zilina"
                />
              </div>
              <div class="matchItem__titles">
                <h3 class="h5 text-primary">FK Železiarne Podbrezová</h3>
                <h3 class="h5 text-dark">MŠK Žilina</h3>
              </div>
            </div>
          </div>
          <div class="matchItem">
            <div class="matchItem__inner">
              <div class="matchItem__date">
                <span> so 21. 10. 2024 </span>
                18:00 hod.
              </div>
              <div class="matchItem__logos">
                <img
                  src="images/content/bratislava.png"
                  loading="lazy"
                  alt="zilina"
                />
                <img src="images/ico/logo.svg" loading="lazy" alt="zilina" />
              </div>
              <div class="matchItem__titles">
                <h3 class="h5 text-dark">ŠK Slovan Bratislava</h3>

                <h3 class="h5 text-primary">FK Železiarne Podbrezová</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
