<section class="scoreboard">
  <div class="container">
    <div class="row g-4">
      <div class="col-xl-4 col-md-6">
        <div class="scoreboard__item scoreboard__item--before">
          <ul class="scoreboard__dates">
            <li>Sobota 3. 8. 2024, 18:00</li>
            <li>Niké liga, 3. kolo</li>
          </ul>
          <div class="scoreboard__row">
            <div class="scoreboard__logo">
              <img src="images/content/zilina.png" loading="lazy" alt="logo" />
            </div>
            <div class="scoreboard__info">
              <div class="scoreboard__result">0:0</div>
              <div class="scoreboard__teams">
                <span class="text-white"> MŠK Žilina </span>
                <span class="text-secondary">fk železiarne podbrezová</span>
              </div>
            </div>
          </div>
          <ul class="scoreboard__links">
            <li>
              <a href="#" class="btn btn-primary">Reportáž</a>
            </li>
            <li>
              <a href="#" class="btn btn-primary">Galerie</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="scoreboard__item scoreboard__item--after">
          <ul class="scoreboard__dates">
            <li>Niké liga, 3. kolo</li>
          </ul>
          <div class="scoreboard__row">
            <div class="scoreboard__logo">
              <img
                src="images/content/bratislava.png"
                loading="lazy"
                alt="logo"
              />
            </div>
            <div class="scoreboard__info">
              <div class="scoreboard__result">
                <span>sobota 3. srpna</span>
                18:00
              </div>
              <div class="scoreboard__teams">
                <span class="text-dark">fk železiarne podbrezová</span>
                <span class="text-white"> ŠK SLOVAN BRATISLAVA </span>
              </div>
            </div>
          </div>
          <ul class="scoreboard__links">
            <li>
              <a href="#" class="btn btn-white">Vstupenky</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-4 col-12">
        <a class="pub" href="#" target="_blank">
          <img src="https://placehold.co/464x366" loading="lazy" alt="pub" />
        </a>
      </div>
    </div>
  </div>
</section>
