<a href="#" class="post">
  <div class="post__img">
    <img src="images/content/article.png" loading="lazy" alt="post" />
  </div>
  <div class="post__content">
    <h5 class="h5">V druhom kole cestujeme na pôdu rozbehnutého Slovanu</h5>
    <ul class="tags">
      <li>3. 8. 2024</li>
      <li>
        <strong> A-tím </strong>
      </li>
    </ul>
  </div>
</a>
