{% extends "@components/base/base.twig" %} {% set title = "02.0_article" %} {%
block main %} {% include "@components/article-section/article-section.twig" %}

<div class="pubHomepage">
  <div class="container">
    <a class="pub" href="#" target="_blank">
      <img src="images/content/pub-1.png" loading="lazy" alt="" />
    </a>
  </div>
</div>

{% include "@components/posts/posts-homepage.twig" %} {% endblock %}
