{% extends "@components/base/base.twig" %} {% set title = "04.0_archive" %} {%
block main %}

 
{% include "@components/archive-section/archive-section.twig" %}
<div class="pubHomepage">
  <div class="container">
    <a class="pub" href="#" target="_blank">
      <img src="images/content/pub-1.png" loading="lazy" alt="" />
    </a>
  </div>
</div>

  {% endblock %}
