{% extends "@components/base/base.twig" %} {% set title = "06.0_team" %} {%
block main %} {% include "@components/team-section/team-section.twig" %}
<div class="pubHomepage">
  <div class="container">
    <a class="pub" href="#" target="_blank">
      <img src="images/content/pub-1.png" loading="lazy" alt="" />
    </a>
  </div>
</div>

{% endblock %}
