{% extends "@components/base/base.twig" %} {% set title = "07.0_photogallery" %}
{% block main %}

<section class="archive-section paddingSection">
  <div class="container">
    <div class="static-section__wrapper">
      <div class="static-section__content">
        <div class="headerSection">
          <h1 class="h1">Fotogalerie</h1>
          <div class="headerSection__search">
            <label class="o-select">
              <select class="js-select">
                <option>Vyberte kategorii</option>
                <option>Aktuální zprávy</option>
                <option>Rozhovory</option>
                <option>Reportáže</option>
                <option>Mládež</option>
                <option>Tiskové zprávy</option>
                <option>Soutěže a akce pro fanoušky</option>
                <option>Preview k zápasu</option>
                <option>Ohlasy po utkání</option>
                <option>Sledge – článek</option>
                <option>Sledge – reportáž</option>
                <option>Historie</option>
                <option>Fan Club</option>
              </select>
            </label>
            <form action="" class="headerSection__form">
              <input
                class="input"
                type="text"
                placeholder="Zadejte hledaný text..."
              />
              <button class="btn btn-primary">Hledat</button>
            </form>
          </div>
        </div>
        <div class="archive-section__wrapper">
          <div class="row gx-3 gy-4">
            <div class="col-lg-4 col-md-6">
              <a
                href="#"
                class="post"
                data-source="/fkzeleziarne.sk/build/ajax-gallery.json"
                data-gallery-id="3"
              >
                <div class="post__img">
                  <img
                    src="images/content/article.png"
                    loading="lazy"
                    alt="post"
                  />
                </div>
                <div class="post__content">
                  <h4 class="h4">
                    V druhom kole cestujeme na pôdu rozbehnutého Slovanu
                  </h4>
                  <ul class="tags">
                    <li>3. 8. 2024</li>
                    <li>
                      <strong> A-tím </strong>
                    </li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-6">
              <a
                href="#"
                class="post"
                data-source="/fkzeleziarne.sk/build/ajax-gallery.json"
                data-gallery-id="3"
              >
                <div class="post__img">
                  <img
                    src="images/content/article.png"
                    loading="lazy"
                    alt="post"
                  />
                </div>
                <div class="post__content">
                  <h4 class="h4">
                    V druhom kole cestujeme na pôdu rozbehnutého Slovanu
                  </h4>
                  <ul class="tags">
                    <li>3. 8. 2024</li>
                    <li>
                      <strong> A-tím </strong>
                    </li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-6">
              <a
                href="#"
                class="post"
                data-source="/fkzeleziarne.sk/build/ajax-gallery.json"
                data-gallery-id="3"
              >
                <div class="post__img">
                  <img
                    src="images/content/article.png"
                    loading="lazy"
                    alt="post"
                  />
                </div>
                <div class="post__content">
                  <h4 class="h4">
                    V druhom kole cestujeme na pôdu rozbehnutého Slovanu
                  </h4>
                  <ul class="tags">
                    <li>3. 8. 2024</li>
                    <li>
                      <strong> A-tím </strong>
                    </li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-6">
              <a
                href="#"
                class="post"
                data-source="/fkzeleziarne.sk/build/ajax-gallery.json"
                data-gallery-id="3"
              >
                <div class="post__img">
                  <img
                    src="images/content/article.png"
                    loading="lazy"
                    alt="post"
                  />
                </div>
                <div class="post__content">
                  <h4 class="h4">
                    V druhom kole cestujeme na pôdu rozbehnutého Slovanu
                  </h4>
                  <ul class="tags">
                    <li>3. 8. 2024</li>
                    <li>
                      <strong> A-tím </strong>
                    </li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-6">
              <a
                href="#"
                class="post"
                data-source="/fkzeleziarne.sk/build/ajax-gallery.json"
                data-gallery-id="3"
              >
                <div class="post__img">
                  <img
                    src="images/content/article.png"
                    loading="lazy"
                    alt="post"
                  />
                </div>
                <div class="post__content">
                  <h4 class="h4">
                    V druhom kole cestujeme na pôdu rozbehnutého Slovanu
                  </h4>
                  <ul class="tags">
                    <li>3. 8. 2024</li>
                    <li>
                      <strong> A-tím </strong>
                    </li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-6">
              <a
                href="#"
                class="post"
                data-source="/fkzeleziarne.sk/build/ajax-gallery.json"
                data-gallery-id="3"
              >
                <div class="post__img">
                  <img
                    src="images/content/article.png"
                    loading="lazy"
                    alt="post"
                  />
                </div>
                <div class="post__content">
                  <h4 class="h4">
                    V druhom kole cestujeme na pôdu rozbehnutého Slovanu
                  </h4>
                  <ul class="tags">
                    <li>3. 8. 2024</li>
                    <li>
                      <strong> A-tím </strong>
                    </li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-6">
              <a
                href="#"
                class="post"
                data-source="/fkzeleziarne.sk/build/ajax-gallery.json"
                data-gallery-id="3"
              >
                <div class="post__img">
                  <img
                    src="images/content/article.png"
                    loading="lazy"
                    alt="post"
                  />
                </div>
                <div class="post__content">
                  <h4 class="h4">
                    V druhom kole cestujeme na pôdu rozbehnutého Slovanu
                  </h4>
                  <ul class="tags">
                    <li>3. 8. 2024</li>
                    <li>
                      <strong> A-tím </strong>
                    </li>
                  </ul>
                </div>
              </a>
            </div>
          </div>
        </div>
        {% include "@components/pagination/pagination.twig" %}
      </div>
    </div>
  </div>
</section>

<div class="pubHomepage">
  <div class="container">
    <a class="pub" href="#" target="_blank">
      <img src="images/content/pub-1.png" loading="lazy" alt="" />
    </a>
  </div>
</div>

{% endblock %}
