{% extends "@components/base/base.twig" %} {% set title = "09.0_match-detail" %}
{% block main %}
<section class="match-detail paddingSection">
  <div class="container">
    <div class="static-section__wrapper">
      <div class="match-detail__img">
        <img src="images/content/article.png" loading="lazy" alt="post" />
      </div>
      <div class="match-detail__wrapper">
        <div class="match-detail__head">
          <div class="match-detail__info">
            <div class="match-detail__info-date">
              <span> so 21. 10. 2024 </span>
              18:00 hod.
            </div>
            <div class="match-detail__info-logos">
              <img
                src="images/content/zilina.png"
                loading="lazy"
                alt="zilina"
              />
              <img src="images/ico/logo.svg" loading="lazy" alt="zilina" />
            </div>
            <div class="match-detail__info-teams">
              <h2 class="h4">MŠK Žilina</h2>
              <h2 class="h4">FK Železiarne Podbrezová</h2>
            </div>
            <div class="match-detail__info-result">1:3</div>
          </div>
          <ul class="match-detail__info-links">
            <li>
              <a href="#" class="btn btn-white"> Reportáž </a>
            </li>
            <li>
              <a href="#" class="btn btn-white"> Galerie </a>
            </li>
            <li>
              <a href="#" class="btn btn-white"> Související články </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="static-section__content pt-0">
        <ul class="tags mb-lg-3 mb-1">
          <li>3. 8. 2024</li>
          <li>
            <strong>A-tím</strong>
          </li>
        </ul>
        <h1 class="h1 mb-4">
          Derby sa blíži, v sobotu večer privítame Banskú Bystricu
        </h1>
        <div class="perex mb-4">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam
          posuere lacus quis dolor. Vestibulum erat nulla, ullamcorper nec,
          rutrum non, nonummy ac, erat. Mauris metus. Phasellus et lorem id
          felis nonummy placerat. Nulla turpis magna, cursus sit amet, suscipit
          a, interdum id, felis. Phasellus faucibus molestie nisl. In dapibus
          augue non sapien. Aenean placerat.
        </div>
        <div class="row g-4">
          <div class="col-12">
            <div class="match-detail__statistics">
              <div class="match-detail__statistics-row">
                <div class="match-detail__statistics-item">
                  <span> Góly </span>
                  46. Donkor (pen.), 58. Bondarenko – 41. Sanusi, 88. Štefánik
                </div>
                <div class="match-detail__statistics-item">
                  <span>ŽK</span>
                  Ibrahim, Zorič, Emeka, Bondarenko – Galčík, Slávik
                </div>
                <div class="match-detail__statistics-item">
                  <span> ČK </span>
                  bez kariet
                </div>
              </div>
              <div
                class="d-flex justify-content-md-center gap-md-4 gap-3 flex-wrap"
              >
                <p>
                  <strong> Rozhodcovia: </strong>
                  Očenáš – Roszbeck, Vass
                </p>
                <p>
                  <strong> Štadión: </strong>
                  Štadión Sihoť (1 078 divákov)
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="match-detail__statistics">
              <div class="match-detail__statistics-item">
                <span> Sestava MŠK Žilina </span>
                Katič – Hájovský, Bondarenko, Stojsavljevič, Holúbek – Ben
                Sallam (59. Emeka) – Derlek, Bariš – Sunday, Ibrahim (73.
                Suleiman), Šefčík.
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="match-detail__statistics">
              <div class="match-detail__statistics-item">
                <span> Sestava FK Železiarne Podbrezová </span>
                Danko – Koštrna, Oravec, Grešák – Ďatko, Faško (70. Paraj),
                Štefánik, Sanusi – Galčík, Smékal, Yirajang (90. Juritka).
              </div>
            </div>
          </div>
        </div>
        <div class="o-content mt-5">
          <p>
            Zverenci trénera Vladimíra Cifraniča sa momentálne nachádzajú na
            ôsmom mieste so ziskom štyroch bodov za jednu výhru, jednu remízu a
            dve prehry. Skóre 7:5 hovorí o druhej najlepšej ofenzíve v súťaži.
            Každopádne, bodové rozdiely sú na úvod sezóny minimálne. Všetkých
            sedem presných zásahov strelili „Železiari“ pri našom najvyššom
            víťazstve v Niké lige proti Skalici.
          </p>
          <p>
            Celkovo má Podbrezovú veľmi dobrú streleckú formu, nakoľko v
            ostatných dvoch súťažných dueloch sa naši hráči presadili až
            pätnásťkrát. Osem lôpt skončilo v sieti Chlebníc v rámci 2. kola
            Slovnaft Cupu. Momentálne už vieme, že našim ďalším súperom v
            pohárovej súťaži bude Olympia Bobrov, účastník V. ligy skupina
            Sever. Hrať sa bude 25. septembra na pôde súpera.
          </p>
          <p>
            Banská Bystrica je v posledných rokoch našim častým súperom, keďže
            sme spoločne pôsobili ešte v 2. lige a potom aj na úrovni Niké ligy.
            Od augusta 2021 sme ťahali veľmi peknú päťzápasovú šnúru výhier
            proti tomuto tímu.
          </p>
          <p>
            Potom prišli dva úspechy Dukly, ale v minulom ročníku sme ani raz
            neprehrali. Na úvod predošlého ročníka Peter Kováčik hetrikom
            režíroval hladký výsledok 4:1, následne sa v Zelpo Aréne zrodila
            remíza 2:2.
          </p>
          <p>
            Banskobystričania prešli cez leto značnou obmenou, keďže novým
            trénerom tímu sa stal Marek Bažík a zároveň sa do zahraničia
            porúčali opory ako Matúš Hruška a hlavne Róbert Polievka. Napriek
            tomu Dukla začala sezónu dobre, keďže prehrala až v piatom kole a
            momentálne sa nachádza na piatom mieste so ziskom šiestich bodov.
          </p>
          <p>
            <strong>
              „Veľmi sa tešíme. Derby je špecifické atmosférou a má vždy
              zaujímavý náboj. Chceme určite nadviazať na výkon z posledného
              domáceho zápasu a potešiť našich fanúšikov. Dôležité bude, ako
              využijeme naše silné stránky. Aktivita, súčinnosť a realizácia
              riešení v oboch fázach hry rozhodnú. Chceme nájsť správny balans,“ </strong
            >povedal asistent trénera Štefan Markulík.
          </p>
        </div>
        {% include "@components/photoGallery/photoGallery.twig" %}
      </div>
    </div>
  </div>
</section>

<div class="pubHomepage">
  <div class="container">
    <a class="pub" href="#" target="_blank">
      <img src="images/content/pub-1.png" loading="lazy" alt="" />
    </a>
  </div>
</div>

{% include "@components/posts/posts-homepage.twig" %} {% endblock %}
