<section class="topstory-section">
  <div class="container">
    <div class="topstory-section__inner">
      <div class="topstory__item">
        <a href="#" class="topstory__img">
          <img src="images/content/article.png" alt="topstory" loading="lazy" />
        </a>
        <div class="topstory__content">
          <ul class="tags mb-lg-3 mb-1">
            <li>3. 8. 2024</li>
            <li>
              <strong>A-tím</strong>
            </li>
          </ul>
          <a href="#" class="h2">
            V druhom kole cestujeme na pôdu rozbehnutého Slovanu
          </a>
          <a href="#" class="btn btn-white">Prečítat článok</a>
        </div>
      </div>
      <div class="topstory__item">
        <a href="#" class="topstory__img">
          <img src="images/content/article.png" alt="topstory" loading="lazy" />
        </a>
        <div class="topstory__content">
          <ul class="tags mb-lg-3 mb-1">
            <li>3. 8. 2024</li>
            <li>
              <strong>A-tím</strong>
            </li>
          </ul>
          <a href="#" class="h2">
            V druhom kole cestujeme na pôdu rozbehnutého Slovanu na pôdu
            rozbehnutého Slovanu
          </a>
          <a href="#" class="btn btn-white">Prečítat článok</a>
        </div>
      </div>
      <div class="topstory__item">
        <a href="#" class="topstory__img">
          <img src="images/content/article.png" alt="topstory" loading="lazy" />
        </a>
        <div class="topstory__content">
          <ul class="tags mb-lg-3 mb-1">
            <li>3. 8. 2024</li>
            <li>
              <strong>A-tím</strong>
            </li>
          </ul>
          <a href="#" class="h2">
            V druhom kole cestujeme na pôdu rozbehnutého Slovanu Slovanu
          </a>
          <a href="#" class="btn btn-white">Prečítat článok</a>
        </div>
      </div>
    </div>
  </div>
</section>
